.collapsible
{
    text-align: left;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
}

.collapsible:hover
{
    background-color: #ccc;
    color: #000;
}

.collapsible-content
{
    padding: 0 5px;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height .1s ease-out;
    border: #ccc 1px dashed;
  }