body
{
    background: whitesmoke;
    font-size: 10pt;
}

a, a:visited
{
    color: dodgerblue;
}

a:hover
{
    color: goldenrod;
}

p
{
    margin-block-start: .25em;
    margin-block-end: .25em;
}

hr
{
    margin-block-start: 0;
    margin-block-end: 0;
}

form p
{
    display: flex;
}

table
{
    font-size: inherit;
    padding:.25 0;
}

thead
{
    position: sticky;
    top: 0;
}

thead td
{
    font-weight:bold;
    background: dodgerblue;
    color: white;
}

td
{
    border: 1px solid dodgerblue;
    padding: 0 .25em;
}