body
{
    background: whitesmoke;
    font-size: 10.5pt;
}

a, a:visited
{
    color: #0074CC;
}

a:hover
{
    color: goldenrod;
}

p
{
    margin-block-start: .5em;
    margin-block-end: .5em;
}

form p
{
    display: flex;
}