div#header
{
    display: block;
    margin: 0 auto .5em;
}

div#title
{
    font-size: 1.5em;
    margin-bottom: .5em;
}

div#supportlinks
{
    float:right;
    display: block;
    margin: 0 0 1em 1em;
    text-align: right;
    font-size:.75em;
}

div#supportlinks img
{
    height: 20px;
    margin-left: .5em;
    vertical-align: bottom;
}

.title
{
    font-weight: bold;
}

label.field-label
{
    padding-right: .5em;
    min-width: 120px;
    display: inline-block;
    font-weight: bold;
}